mat-slider {
    width: 300px;
  }

  .validate{
    border: transparent !important;
    font-weight: 200;
    background: none;
    color: white;
  }

  .validate:focus{
    outline: none;
  }

  .form-components{
    margin: 50px;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.text{
  color: white;
}



