@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 15pt;
  float: right;
}

body, html {
  height: 100%;
}

mwl-gauge {
  width: 350px;
  height: 350px;
  /* display: block;
  padding: 10px; */
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value {
  stroke: rgb(255, 72, 72);
  stroke-width: 2;
  fill: rgba(0,0,0,0);
}
mwl-gauge > .gauge > .value-text {
  fill: rgb(255, 72, 72);
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: white;
}